<header id="header" class="header header-abs-top-lg header-bg-transparent-lg">
  <div class="js-mega-menu header-section">
    <!-- Topbar -->
    <div class="container">
      <nav class="js-mega-menu navbar navbar-expand-lg z-index-999">
        <!-- Responsive Toggle Button -->
        <button type="button" class="navbar-toggler btn btn-xs btn-outline-secondary ml-auto"
                aria-label="Toggle navigation"
                aria-expanded="false"
                aria-controls="topBar"
                data-toggle="collapse"
                data-target="#topBar">
          Topbar <i class="fa fa-angle-down ml-2"></i>
        </button>
        <!-- End Responsive Toggle Button -->

        <div id="topBar" class="collapse navbar-collapse">
          <ul class="navbar-nav w-100">
            <!-- Back To Main Demo -->
            <li class="navbar-nav-item mr-auto">
                <a class="nav-link font-size-1 py-2 pl-0" href="@@autopath/index.html">
                  <div class="d-flex align-items-center">
                    <svg class="mb-0 mr-1" width="16px" height="16px" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path d="M8.22,12.72A.75.75,0,0,1,8,12.19v-.38a.77.77,0,0,1,.22-.53l5.14-5.13a.5.5,0,0,1,.71,0l.71.71a.49.49,0,0,1,0,.7L10.33,12l4.45,4.44a.5.5,0,0,1,0,.71l-.71.7a.5.5,0,0,1-.71,0Z"/>
                    </svg> Main Demo
                  </div>
                </a>
              </li>
            <!-- End Back To Main Demo -->

            <!-- Demos -->
            <li class="hs-has-mega-menu navbar-nav-item"
                data-hs-mega-menu-item-options='{
                  "desktop": {
                    "position": "right",
                    "maxWidth": "900px"
                  }
                }'>
              <a id="demosMegaMenu" class="hs-mega-menu-invoker nav-link nav-link-toggle font-size-1 py-2" href="javascript:;" aria-haspopup="true" aria-expanded="false">Demos</a>

              <!-- Demos - Mega Menu -->
              <div class="hs-mega-menu dropdown-menu w-100" aria-labelledby="demosMegaMenu">
                <div class="row no-gutters">
                  <div class="col-lg-8">
                    <div class="navbar-promo-card-deck">
                      <!-- Promo Item -->
                      <div class="navbar-promo-card navbar-promo-item">
                        <a class="navbar-promo-link" href="@@autopath/demo-course/index.html">
                          <div class="media align-items-center">
                            <img class="navbar-promo-icon" src="@@autopath/assets/svg/icons/icon-67.svg" alt="SVG">
                            <div class="media-body">
                              <span class="navbar-promo-title">Course</span>
                              <span class="navbar-promo-text">Learn On-demand demo</span>
                            </div>
                          </div>
                        </a>
                      </div>
                      <!-- End Promo Item -->

                      <!-- Promo Item -->
                      <div class="navbar-promo-card navbar-promo-item">
                        <a class="navbar-promo-link" href="@@autopath/demo-app-marketplace/index.html">
                          <div class="media align-items-center">
                            <img class="navbar-promo-icon" src="@@autopath/assets/svg/icons/icon-45.svg" alt="SVG">
                            <div class="media-body">
                              <span class="navbar-promo-title">App Marketplace</span>
                              <span class="navbar-promo-text">Marketplace app demo</span>
                            </div>
                          </div>
                        </a>
                      </div>
                      <!-- End Promo Item -->
                    </div>

                    <div class="navbar-promo-card-deck">
                      <!-- Promo Item -->
                      <div class="navbar-promo-card navbar-promo-item">
                        <a class="navbar-promo-link" href="index.html">
                          <div class="media align-items-center">
                            <img class="navbar-promo-icon" src="@@autopath/assets/svg/icons/icon-4.svg" alt="SVG">
                            <div class="media-body">
                              <span class="navbar-promo-title">Help Desk</span>
                              <span class="navbar-promo-text">Help desk demo</span>
                            </div>
                          </div>
                        </a>
                      </div>
                      <!-- End Promo Item -->

                      <!-- Promo Item -->
                      <div class="navbar-promo-card navbar-promo-item">
                        <a class="navbar-promo-link" href="@@autopath/demo-real-estate/index.html">
                          <div class="media align-items-center">
                            <img class="navbar-promo-icon" src="@@autopath/assets/svg/icons/icon-13.svg" alt="SVG">
                            <div class="media-body">
                              <span class="navbar-promo-title">Real Estate <span class="badge badge-success badge-pill ml-1">New</span></span>
                              <span class="navbar-promo-text">Real estate demo</span>
                            </div>
                          </div>
                        </a>
                      </div>
                      <!-- End Promo Item -->
                    </div>

                    <div class="navbar-promo-card-deck">
                      <!-- Promo Item -->
                      <div class="navbar-promo-card navbar-promo-item">
                        <a class="navbar-promo-link" href="@@autopath/demo-jobs/index.html">
                          <div class="media align-items-center">
                            <img class="navbar-promo-icon" src="@@autopath/assets/svg/icons/icon-19.svg" alt="SVG">
                            <div class="media-body">
                              <span class="navbar-promo-title">Jobs <span class="badge badge-success badge-pill ml-1">New</span></span>
                              <span class="navbar-promo-text">Jobs demo</span>
                            </div>
                          </div>
                        </a>
                      </div>
                      <!-- End Promo Item -->

                      <!-- Promo Item -->
                      <div class="navbar-promo-card navbar-promo-item">
                        <a class="navbar-promo-link disabled" href="javascript:;">
                          <div class="media align-items-center">
                            <img class="navbar-promo-icon" src="@@autopath/assets/svg/icons/icon-28.svg" alt="SVG">
                            <div class="media-body">
                              <span class="navbar-promo-title">New demo</span>
                              <span class="navbar-promo-text">Coming soon...</span>
                            </div>
                          </div>
                        </a>
                      </div>
                      <!-- End Promo Item -->
                    </div>
                  </div>

                  <!-- Promo -->
                  <div class="col-lg-4 navbar-promo d-none d-lg-block">
                    <a class="d-block navbar-promo-inner" href="#">
                      <div class="position-relative">
                        <img class="img-fluid rounded mb-3" src="@@autopath/assets/img/380x227/img1.jpg" alt="Image Description">
                      </div>
                      <span class="navbar-promo-text font-size-1">Front makes you look at things from a different perspectives.</span>
                    </a>
                  </div>
                  <!-- End Promo -->
                </div>
              </div>
              <!-- End Demos - Mega Menu -->
            </li>
            <!-- End Demos -->

            <!-- Docs -->
            <li class="hs-has-mega-menu navbar-nav-item"
                data-hs-mega-menu-item-options='{
                  "desktop": {
                    "position": "right",
                    "maxWidth": "260px"
                  }
                }'>
              <a id="docsMegaMenu" class="hs-mega-menu-invoker nav-link nav-link-toggle font-size-1 py-2 pr-0" href="javascript:;" aria-haspopup="true" aria-expanded="false">Docs</a>

              <!-- Docs - Submenu -->
              <div class="hs-mega-menu dropdown-menu" aria-labelledby="docsMegaMenu" style="min-width: 330px;">
                <!-- Promo Item -->
                <div class="navbar-promo-item">
                  <a class="navbar-promo-link" href="@@autopath/documentation/index.html">
                    <div class="media align-items-center">
                      <img class="navbar-promo-icon" src="@@autopath/assets/svg/icons/icon-2.svg" alt="SVG">
                      <div class="media-body">
                        <span class="navbar-promo-title">
                          Documentation
                          <span class="badge badge-primary badge-pill ml-1">v3.3</span>
                        </span>
                        <small class="navbar-promo-text">Development guides</small>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- End Promo Item -->

                <!-- Promo Item -->
                <div class="navbar-promo-item">
                  <a class="navbar-promo-link" href="@@autopath/snippets/index.html">
                    <div class="media align-items-center">
                      <img class="navbar-promo-icon" src="@@autopath/assets/svg/icons/icon-1.svg" alt="SVG">
                      <div class="media-body">
                        <span class="navbar-promo-title">Snippets</span>
                        <small class="navbar-promo-text">Start building</small>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- End Promo Item -->

                <div class="navbar-promo-footer">
                  <!-- List -->
                  <div class="row no-gutters">
                    <div class="col-6">
                      <div class="navbar-promo-footer-item">
                        <span class="navbar-promo-footer-text">Check what's new</span>
                        <a class="navbar-promo-footer-text" href="@@autopath/documentation/changelog.html"> Changelog</a>
                      </div>
                    </div>
                    <div class="col-6 navbar-promo-footer-ver-divider">
                      <div class="navbar-promo-footer-item">
                        <span class="navbar-promo-footer-text">Have a question?</span>
                        <a class="navbar-promo-footer-text" href="http://htmlstream.com/contact-us"> Contact us</a>
                      </div>
                    </div>
                  </div>
                  <!-- End List -->
                </div>
              </div>
              <!-- End Docs - Submenu -->
            </li>
            <!-- End Docs -->
          </ul>
        </div>
      </nav>
    </div>
    <!-- End Topbar -->

    <div id="logoAndNav" class="container">
      <!-- Nav -->
      <nav class="navbar navbar-expand-lg">
        <!-- Logo -->
        <a class="navbar-brand" href="index.html" aria-label="Front">
          <img src="@@autopath/assets/svg/logos/logo.svg" alt="Logo">
        </a>
        <!-- End Logo -->

        <!-- Responsive Toggle Button -->
        <button type="button" class="navbar-toggler btn btn-icon btn-sm btn-soft-secondary rounded-circle"
                aria-label="Toggle navigation"
                aria-expanded="false"
                aria-controls="navBar"
                data-toggle="collapse"
                data-target="#navBar">
            <span class="navbar-toggler-default">
              <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z"/>
              </svg>
            </span>
          <span class="navbar-toggler-toggled">
              <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
              </svg>
            </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Navigation -->
        <div id="navBar" class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <!-- Pages -->
            <li class="navbar-nav-item">
              <a class="nav-link @@if(link=='index.html'){active}" href="index.html">Help Page</a>
            </li>
            <li class="navbar-nav-item">
              <a class="nav-link @@if(link=='listing.html'){active}" href="listing.html">Listing</a>
            </li>
            <li class="navbar-nav-item">
              <a class="nav-link @@if(link=='article-description.html'){active}" href="article-description.html">Article Description</a>
            </li>
            <!-- End Pages -->

            <!-- Button -->
            <li class="navbar-nav-last-item">
              <a class="btn btn-sm btn-primary transition-3d-hover" href="javascript:;" data-toggle="modal" data-target="#loginModal">Sign In</a>
            </li>
            <!-- End Button -->
          </ul>
        </div>
        <!-- End Navigation -->
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>