<!-- ========== HEADER ========== -->
<header id="header" class="header header-box-shadow-on-scroll header-abs-top header-bg-transparent header-show-hide"
data-hs-header-options='{
  "fixMoment": 1000,
  "fixEffect": "slide"
}'>

<div class="header-section">
<div id="logoAndNav" class="container">
<!-- Nav -->
<nav class="js-mega-menu navbar navbar-expand-lg">
<!-- Logo -->
<a class="navbar-brand" href="./index.html" aria-label="Front">
  <img src="./assets/img/LOGO.png" height="80px" width="80px" alt="Logo">
  <span class="ml-3 main-logo">Savefood</span>
</a>
<!-- End Logo -->

<!-- Responsive Toggle Button -->
<button type="button" class="navbar-toggler btn btn-icon btn-sm rounded-circle"
        aria-label="Toggle navigation"
        aria-expanded="false"
        aria-controls="navBar"
        data-toggle="collapse"
        data-target="#navBar">
  <span class="navbar-toggler-default">
    <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
      <path fill="currentColor" d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z"/>
    </svg>
  </span>
  <span class="navbar-toggler-toggled">
    <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
      <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
    </svg>
  </span>
</button>
<!-- End Responsive Toggle Button -->

<!-- Navigation -->
<div id="navBar" class="collapse navbar-collapse">
  <div class="navbar-body header-abs-top-inner">
    <ul class="navbar-nav">
      <!-- Empresa -->
      <li class="hs-has-sub-menu navbar-nav-item">
        <a id="blogMegaMenu" class="hs-mega-menu-invoker nav-link nav-link-toggle " href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="blogSubMenu">Empresa</a>

        <!-- Empresa - Submenu -->
        <div id="blogSubMenu" class="hs-sub-menu dropdown-menu scroll-link" aria-labelledby="blogMegaMenu" style="min-width: 230px;">
          <!-- <a class="dropdown-item " href="./blog-journal.html">Informacion de Savefood</a> -->
          <a class="dropdown-item " href="#antecedentes">Antecedentes</a>
       
          <a class="dropdown-item " href="#sobre-nosotros">Sobre Nosotros</a>
          <a class="dropdown-item " href="#beniusuario">Beneficios del <span class="color-principal">usuario</span></a>
          <a class="dropdown-item " href="#benicomercio">Beneficios del <span class="color-principal">comercio</span></a>
        </div>
        <!-- End Submenu -->
      </li>
      <!-- End Empresa -->

      <!-- Contactanos -->
      <li class="nav-item scroll-link">
        <a class="nav-link" href="./page-contacts-agency.html">Contactanos</a>
      </li>
      <!-- End Contactanos -->

      <!-- Ayuda -->
      <li class="hs-has-sub-menu navbar-nav-item">
        <a id="blogMegaMenu" class="hs-mega-menu-invoker nav-link nav-link-toggle " href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="blogSubMenu">Ayuda</a>

        <!-- Ayuda - Submenu -->
        <div id="blogSubMenu" class="hs-sub-menu dropdown-menu link-scroll" aria-labelledby="blogMegaMenu" style="min-width: 230px;">
          <a class="dropdown-item " href="#comofunciona">¿Cómo funciona?</a>
          <a class="dropdown-item none-click" href="#">roximamente </span> Requisitos del Comercio <span class="color-principal">P</a>
          <a class="dropdown-item none-click" href="#"> Preguntas Frecuentes <span class="color-principal">Proximamente</span></a>
        </div>
        <!-- End Submenu -->
      </li>
      <!-- End Ayuda -->

      <!-- Legal -->
      <li class="hs-has-sub-menu navbar-nav-item">
        <a id="blogMegaMenu" class="hs-mega-menu-invoker nav-link nav-link-toggle " href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="blogSubMenu">Legal</a>

        <!-- Legal - Submenu -->
        <div id="blogSubMenu" class="hs-sub-menu dropdown-menu" aria-labelledby="blogMegaMenu" style="min-width: 230px;">
          <a class="dropdown-item " href="./politicas.html">Políticas de Privacidad</a>
          <a class="dropdown-item " href="./terminos.html">Políticas de Términos y Condiciones</a>
          <a class="dropdown-item " href="./politicas.html#9">Políticas de Cookies</a>
        </div>
        <!-- End Submenu -->
      </li>
      <!-- End Legal -->

      <!-- Iniciar Sesion -->
      <li class="navbar-nav-last-item">
        <a class="btn btn-sm btn-primary transition-3d-hover" href="http://app.savefood.store/login">Iniciar Sesión</a>
      </li>
      <!-- End Iniciar Sesion -->
    </ul>
  </div>
</div>
<!-- End Navigation -->
</nav>
<!-- End Nav -->
</div>
</div>
</header>
<!-- ========== END HEADER ========== -->