<footer class="bg-light">
  <!-- Info -->
  <div class="container space-2">
    <div class="row align-items-md-center text-center text-md-left">
      <div class="col-md-6 mb-3 mb-md-0">
        <h2>List your app on Marketplace</h2>
        <p class="mb-0">Let us help to turn your ideas into startups.</p>
      </div>
      <div class="col-md-6 text-md-right">
        <a class="btn btn-primary transition-3d-hover" href="submit-app.html">Submit App</a>
      </div>
    </div>
  </div>
  <!-- End Info -->

  <!-- Lists -->
  <div class="container">
    <div class="border-top space-2">
      <div class="row justify-content-md-between">
        <div class="col-lg-4 mb-4 mb-lg-0">
          <a class="d-inline-flex mb-4" href="index.html" aria-label="Front">
            <img class="brand" src="@@autopath/assets/svg/logos/logo.svg" alt="Logo">
          </a>
          <p>We are driven to deliver results for all your businesses.</p>
        </div>

        <div class="col-6 col-sm-4 col-lg-2 mb-4 mb-lg-0">
          <h5>About</h5>

          <!-- Nav Link -->
          <ul class="nav nav-sm nav-x-0 flex-column">
            <li class="nav-item"><a class="nav-link" href="../page-about-agency.html">About</a></li>
            <li class="nav-item"><a class="nav-link" href="../page-services-agency.html">Services</a></li>
            <li class="nav-item"><a class="nav-link" href="../page-careers.html">Careers</a></li>
          </ul>
          <!-- End Nav Link -->
        </div>

        <div class="col-6 col-sm-4 col-lg-2 mb-4 mb-lg-0">
          <h5>Account</h5>

          <!-- Nav Link -->
          <ul class="nav nav-sm nav-x-0 flex-column">
            <li class="nav-item"><a class="nav-link" href="#">Account</a></li>
            <li class="nav-item"><a class="nav-link" href="#">My tasks</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Projects</a></li>
          </ul>
          <!-- End Nav Link -->
        </div>

        <div class="col-6 col-sm-4 col-lg-2">
          <h5>Resources</h5>

          <!-- Nav Link -->
          <ul class="nav nav-sm nav-x-0 flex-column">
            <li class="nav-item"><a class="nav-link" href="../page-faq.html">Help</a></li>
            <li class="nav-item"><a class="nav-link" href="../page-terms.html">Terms</a></li>
            <li class="nav-item"><a class="nav-link" href="../page-privacy.html">Privacy</a></li>
          </ul>
          <!-- End Nav Link -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Lists -->
</footer>