<footer class="container space-2 text-center">
  <!-- Logo -->
  <a class="d-inline-flex align-items-center mb-3" href="index.html" aria-label="Front">
    <img class="brand" src="@@autopath/assets/svg/logos/logo.svg" alt="Logo">
  </a>
  <!-- End Logo -->

  <p class="font-size-1 mb-1">We're part of the <a href="#">Pixeel Ltd.</a> family along with <a href="http://htmlstream.com">Htmlstream</a>.</p>
  <p class="font-size-1">&copy; Front. 2020 Htmlstream. All rights reserved.</p>

  <!-- Social Networks -->
  <ul class="list-inline mb-0">
    <li class="list-inline-item mb-2 mb-sm-0">
      <a class="btn btn-icon btn-sm btn-ghost-secondary rounded-circle" href="#">
        <i class="fab fa-dribbble"></i>
      </a>
    </li>
    <li class="list-inline-item mb-2 mb-sm-0">
      <a class="btn btn-icon btn-sm btn-ghost-secondary rounded-circle" href="#">
        <i class="fab fa-facebook-f"></i>
      </a>
    </li>
    <li class="list-inline-item mb-2 mb-sm-0">
      <a class="btn btn-icon btn-sm btn-ghost-secondary rounded-circle" href="#">
        <i class="fab fa-medium-m"></i>
      </a>
    </li>
    <li class="list-inline-item mb-2 mb-sm-0">
      <a class="btn btn-icon btn-sm btn-ghost-secondary rounded-circle" href="#">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li class="list-inline-item mb-2 mb-sm-0">
      <a class="btn btn-icon btn-sm btn-ghost-secondary rounded-circle" href="#">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li class="list-inline-item mb-2 mb-sm-0">
      <a class="btn btn-icon btn-sm btn-ghost-secondary rounded-circle" href="#">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
  </ul>
  <!-- End Social Networks -->
</footer>