<footer class="position-absolute right-0 bottom-0 left-0">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center space-1">
      <!-- Copyright -->
      <p class="small text-muted mb-0">&copy; Front. 2020 Htmlstream.</p>
      <!-- End Copyright -->

      <!-- Social Networks -->
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <a class="btn btn-xs btn-icon btn-ghost-secondary" href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-xs btn-icon btn-ghost-secondary" href="#">
            <i class="fab fa-google"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-xs btn-icon btn-ghost-secondary" href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-xs btn-icon btn-ghost-secondary" href="#">
            <i class="fab fa-github"></i>
          </a>
        </li>
      </ul>
      <!-- End Social Networks -->
    </div>
  </div>
</footer>