<footer class="container space-2 space-top-lg-3">
  <!-- Links -->
  <div class="row mb-11">
    <div class="col-md-3 mb-5 mb-md-0">
      <div class="mb-4">
        <h5>Get our mobile app</h5>
      </div>

      <a class="btn btn-icon btn-indigo rounded-circle mr-2" href="#">
        <i class="fab fa-apple"></i>
      </a>
      <a class="btn btn-icon btn-indigo rounded-circle" href="#">
        <i class="fab fa-google-play"></i>
      </a>
    </div>

    <div class="col-sm-4 col-md-3 mb-3 mb-sm-0">
      <!-- Nav Links -->
      <ul class="nav nav-sm nav-x-0 flex-column">
        <li class="nav-item"><a class="nav-link" href="page-about-agency.html">About</a></li>
        <li class="nav-item"><a class="nav-link" href="page-services-agency.html">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="page-careers.html">Careers <span class="badge badge-success badge-pill ml-1">We're hiring</span></a></li>
        <li class="nav-item"><a class="nav-link" href="blog-newsroom.html">Blog</a></li>
        <li class="nav-item"><a class="nav-link" href="shop-classic.html">Shop with us</a></li>
      </ul>
      <!-- End Nav Links -->
    </div>

    <div class="col-sm-4 col-md-3 mb-3 mb-sm-0">
      <!-- Nav Links -->
      <ul class="nav nav-sm nav-x-0 flex-column">
        <li class="nav-item"><a class="nav-link" href="#">Account</a></li>
        <li class="nav-item"><a class="nav-link" href="#">My tasks</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Edit profile</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Activity</a></li>
      </ul>
      <!-- End Nav Links -->
    </div>

    <div class="col-sm-4 col-md-3 mb-3 mb-sm-0">
      <!-- Nav Links -->
      <ul class="nav nav-sm nav-x-0 flex-column">
        <li class="nav-item">
          <a class="nav-link" href="page-pricing.html" target="_blank">
            Pricing
            <i class="fas fa-external-link-alt fa-xs ml-1"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="demo-help-desk/index.html" target="_blank">
            Help
            <i class="fas fa-external-link-alt fa-xs ml-1"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="page-terms.html" target="_blank">
            Terms &amp; Conditions
            <i class="fas fa-external-link-alt fa-xs ml-1"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="page-privacy.html" target="_blank">
            Privacy &amp; Policy
            <i class="fas fa-external-link-alt fa-xs ml-1"></i>
          </a>
        </li>
      </ul>
      <!-- End Nav Links -->
    </div>
  </div>
  <!-- End Links -->

  <!-- Copyright -->
  <div class="row align-items-sm-center">
    <div class="col-sm-6 mb-4 mb-sm-0">
      <p class="small mb-0">&copy; Front. 2020 Htmlstream. All rights reserved.</p>
    </div>

    <div class="col-sm-6 text-sm-right">
      <!-- Social Networks -->
      <ul class="list-inline mb-0">
        <li class="list-inline-item mb-2 mb-sm-0">
          <a class="btn btn-xs btn-icon btn-soft-indigo rounded-circle" href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="list-inline-item mb-2 mb-sm-0">
          <a class="btn btn-xs btn-icon btn-soft-indigo rounded-circle" href="#">
            <i class="fab fa-google"></i>
          </a>
        </li>
        <li class="list-inline-item mb-2 mb-sm-0">
          <a class="btn btn-xs btn-icon btn-soft-indigo rounded-circle" href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item mb-2 mb-sm-0">
          <a class="btn btn-xs btn-icon btn-soft-indigo rounded-circle" href="#">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li class="list-inline-item mb-2 mb-sm-0">
          <a class="btn btn-xs btn-icon btn-soft-indigo rounded-circle" href="#">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
      </ul>
      <!-- End Social Networks -->
    </div>
  </div>
  <!-- End Copyright -->
</footer>