<footer class="gradient-x-overlay-sm-indigo overflow-hidden">
  <div class="container space-top-2 space-bottom-1">
    <!-- CTA -->
    <div class="row justify-content-lg-between align-items-lg-center text-center text-lg-left">
      <div class="col-lg-5 mb-3 mb-lg-0">
        <h2 class="text-indigo">One tool for your entire team. Get started now!</h2>
      </div>
      <div class="col-lg-5 text-lg-right">
        <a class="btn btn-primary transition-3d-hover" href="#">Get Started</a>
        <small class="text-muted my-3 my-sm-0 mx-2 mx-sm-3">or</small>
        <a class="btn btn-soft-indigo transition-3d-hover" href="#">Explore</a>
      </div>
    </div>
    <!-- End CTA -->

    <hr class="my-9">

    <!-- Content -->
    <div class="row">
      <div class="col-6 col-lg-3 order-lg-2 mb-7 mb-lg-0">
        <h5>Company</h5>

        <!-- Nav Link -->
        <ul class="nav nav-sm nav-x-0 flex-column">
          <li class="nav-item"><a class="nav-link" href="page-about-agency.html">About</a></li>
          <li class="nav-item"><a class="nav-link" href="page-services-agency.html">Services</a></li>
          <li class="nav-item"><a class="nav-link" href="page-careers.html">Careers</a></li>
          <li class="nav-item"><a class="nav-link" href="blog-newsroom.html">Blog</a></li>
        </ul>
        <!-- End Nav Link -->
      </div>

      <div class="col-6 col-lg-3 order-lg-3 mb-7 mb-lg-0">
        <h5>Legal</h5>

        <!-- Nav Link -->
        <ul class="nav nav-sm nav-x-0 flex-column">
          <li class="nav-item"><a class="nav-link" href="page-faq.html">Help</a></li>
          <li class="nav-item"><a class="nav-link" href="page-terms.html">Terms &amp; Conditions</a></li>
          <li class="nav-item"><a class="nav-link" href="page-privacy.html">Privacy &amp; Policy</a></li>
        </ul>
        <!-- End Nav Link -->
      </div>

      <div class="col-sm-6 col-lg-3 order-lg-1 mb-3 mb-lg-0">
        <!-- Logo -->
        <a class="d-inline-flex align-items-center" href="index.html" aria-label="Front">
          <img class="brand" src="@@autopath/assets/svg/logos/logo.svg" alt="Logo">
        </a>
        <!-- End Logo -->
      </div>

      <div class="col-sm-6 col-lg-3 order-lg-4 align-self-center align-self-lg-start">
        <p class="small">&copy; Front. 2020 Htmlstream</p>
      </div>
    </div>
  </div>
  <!-- End Content -->

  <!-- SVG Background Shape -->
  <figure class="w-35 position-absolute top-0 right-0 z-index-n1 mt-n11 mr-n11">
    <img class="img-fluid" src="@@autopath/assets/svg/components/half-circle-1.svg" alt="Image Description">
  </figure>

  <figure class="w-25 position-absolute bottom-0 left-0 z-index-n1 mb-n11 ml-n11">
    <img class="img-fluid" src="@@autopath/assets/svg/components/half-circle-2.svg" alt="Image Description">
  </figure>
  <!-- End SVG Background Shape -->
</footer>