<div class="modal fade" id="uploadFilesModal" tabindex="-1" role="dialog" aria-labelledby="uploadFilesModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- Header -->
      <div class="modal-header">
        <h4 id="uploadFilesModalTitle" class="modal-title">Add files</h4>

        <button type="button" class="btn btn-icon btn-xs btn-ghost-secondary" data-dismiss="modal" aria-label="Close">
          <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
            <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
          </svg>
        </button>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="modal-body">
        <!-- Dropzone -->
        <div id="attachFilesLabel" class="js-dropzone dz-dropzone dz-dropzone-boxed gradient-overlay-half-primary-v4">
          <div class="dz-message">
            <figure class="max-w-10rem mx-auto mb-3">
              <img class="img-fluid" src="@@autopath/assets/svg/illustrations/drag-n-drop.svg" alt="Image Description">
            </figure>

            <h5>Drag and drop your file here</h5>

            <p class="mb-2">or</p>

            <span class="btn btn-sm btn-white">Browse files</span>
          </div>
        </div>
        <!-- End Dropzone -->
      </div>
      <!-- End Body -->

      <!-- Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-white" data-dismiss="modal" aria-label="Close">Cancel</button>
        <button type="button" class="btn btn-sm btn-primary">Upload</button>
      </div>
      <!-- End Footer -->
    </div>
  </div>
</div>